.sectionForTable {
  zoom: 1;
  position: relative;
  height: auto;
  margin-bottom: 40px;
}
.sectionForTable:after,
.sectionForTable:before {
  content: "";
  display: table;
}
.sectionForTable:after {
  clear: both;
}
.sectionForTable h4 {
  cursor: pointer;
  color: #a19a9a;
  border: 1px solid #a19a9a;
  border-top: none;
  padding: 15px 10px;
  margin: 0;
}
.sectionForTable h4.active {
  color: #201446;
}
.sectionForTable h4:first-child {
  border-top: 1px solid #a19a9a;
}
.sectionForTable table thead tr td {
  padding: 14px 3px;
  white-space: nowrap;
}
@media screen and (min-width: 600px) {
  .sectionForTable h4 {
    position: relative;
    width: 33.333333333333336%;
    height: 20%;
    display: block;
  }
}
.sectionForTable ul {
  zoom: 1;
  position: relative;
  height: auto;
  min-height: 100%;
  border: 1px solid #a19a9a;
  border-left: none;
  display: none;
}
.sectionForTable ul:after,
.sectionForTable ul:before {
  content: "";
  display: table;
}
.sectionForTable ul:after {
  clear: both;
}
.sectionForTable ul li {
  list-style: none;
}
@media screen and (min-width: 600px) {
  .sectionForTable ul {
    position: absolute;
    width: 66.66666666666667%;
    right: 0;
    top: 0;
    padding: 0;
  }
}
.sectionForTable .active {
  cursor: default;
  border-bottom: 1px solid #a19a9a;
  border-right: none;
}
@media screen and (min-width: 600px) {
  .sectionForTable .active {
    background: rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
  }
}
.sectionForTable .active + ul {
  display: block;
}
